---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[방법:] 테스트 결과 게시 및 분석? | Microsoft Docs'
author: rick-anderson
description: Visual Studio Team System을 사용 하면 프로젝트가 진행 됨에 따라 프로젝트의 코드 품질에 대 한 변경 내용을 차트로 볼 수 있습니다. 이 비디오는 다음을 제공 하는 방법에 대 한 지침을 제공 합니다.
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 80289680e4d40ec903524d9f4752b71d13db790e
ms.sourcegitcommit: e7e91932a6e91a63e2e46417626f39d6b244a3ab
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 03/06/2020
ms.locfileid: "78520877"
---
# <a name="how-do-i-publish-and-analyze-test-results"></a>[방법:] 테스트 결과 게시 및 분석?

사람 [별](https://twitter.com/CMenegay)

Visual Studio Team System을 사용 하면 프로젝트가 진행 됨에 따라 프로젝트의 코드 품질에 대 한 변경 내용을 차트로 볼 수 있습니다. 이 비디오는 Team Foundation Server 프로젝트 데이터베이스에 테스트 결과를 게시 하 고 결과를 빌드 번호와 연결 하는 방법에 대 한 지침을 제공 합니다. 결과가 게시 된 후 보고서 관리자를 사용 하 여 빌드 테스트 결과의 변경 내용에 대 한 그래픽 표현을 볼 수 있습니다.

[&#9654;비디오 보기 (7 분)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [이전](how-do-i-use-generic-tests.md)
> [다음](how-do-i-discover-application-changes-prior-to-deployment.md)
